.display-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  height: fit-content;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #000000;
  padding: 10px;
  background-color: rgb(253, 248, 240);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

table{
  margin: 15px;
}
table, tr, th, td{
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 20px;
  align-items: center;
}

table caption{
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  padding: 10px;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px dashed #000000;
}
