.theme-container{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}
.light-btn{
  background-color: #007BFF;
}

.dark-btn{
  background-color: #ff5722;
}